@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
	--text-primary: #5a5a5a;
	--text-secondary: #737373;
	--text-light: #b0b0b0;
	--text-black: #000;
	--primary: #26ace3;
	--card-bg: #eaf9ff;
	--hover-primary: #58cbfb;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
body {
	font-family: "Montserrat", sans-serif;
	line-height: 1rem;
	color: var(--text-primary);
	overflow-x: hidden;
}
.container {
	max-width: 1440px;
	width: 90%;
	margin: 0 auto;
	/* padding: 90px 0; */
}
.blur {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 998;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	display: none;
	/* backdrop-filter: blur(15px); */
}
dialog {
	border: 0;
	transition: all 1s;
}
.success {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #ffffff;
	top: 10%;
	left: 30%;
	z-index: 999;
	max-width: 520px;
	width: 100%;
	position: fixed;
	box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.16);
	border-radius: 30px;
	border: 0;
}
.success img {
	padding-top: 48px;
}
.success h4 {
	letter-spacing: 0.3em;
	color: var(--hover-primary);
	margin-top: 40px;
}
.success p {
	color: var(--text-black);
	font-size: 20px;
	line-height: 1.5rem;
	text-align: center;
	padding: 16px 115px 40px 115px;
}
.success form {
	padding-bottom: 56px;
}
.hero {
	margin-top: 90px;
	height: 700px;
}
.logo-container {
	width: 187px;
}
/* .img-fluid {
	width: 100%;
} */
.tagline {
	font-size: 3.8rem;
	margin-top: 45px;
}
.collab {
	display: flex;
	gap: 17px;
	align-items: flex-end;
	margin-top: 60px;
}
.curve {
	max-width: 480px;
	width: 100%;
}
.skills {
	margin-top: 60px;
}
.icon-text {
	display: flex;
	align-items: center;
	gap: 14px;
	margin-bottom: 30px;
}
.skills-text {
	color: var(--text-light);
	font-weight: 600;
	font-size: 16px;
	margin: 0;
}
/* .hero-right {
} */
.ellipse {
	position: relative;
	top: -90px;
	right: -90px;
}
.enroll-form {
	/* position: absolute; */
	display: flex;
	flex-direction: column;
	top: 40px;
	right: 0;
	background: #fff;
	padding: 48px 35px;
	border-radius: 12px;
	border: 0;
	box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.17);
}
.enroll-form .mb-4 {
	margin-bottom: 28px !important;
}
.enroll-form h4 {
	color: var(--text-black);
	font-weight: 700;
	text-align: center;
}

.btn-tdl {
	background: var(--primary);
	color: #fff;
	border-radius: 47px;
	font-weight: 700;
	font-size: 18px;
	padding-inline: 55px;
	padding-block: 16px;
}
.btn-tdl:hover {
	background: var(--hover-primary) !important;
	color: #fff !important;
}
select {
	color: var(--text-secondary) !important;
}
/* .package-section {
	margin-top: 20px;
} */
.package {
	background: var(--card-bg);
	padding: 38px 80px;
	row-gap: 54px;
	border-radius: 32px;
}
.package-item {
	display: flex;
	align-items: flex-end;
}
.package-item p {
	margin: 0;
	margin-left: 20px;
	font-weight: 600;
	font-size: 16px;
}
.interval {
	margin-top: 120px;
}
.interval h1 {
	font-weight: 600;
	color: var(--text-secondary);
	/* font-size: clamp(1.5rem, 2.5vw, 2.375rem); */
	font-size: 2.375rem;
}
.interval h5 {
	color: var(--text-secondary);
	font-size: 22px;
	line-height: 2rem;
}
.courses-section {
	margin-top: 100px;
	margin-bottom: 100px;
}
.course {
	/* transform: translateY(-50px); */
	transition: all 0.7s;
}
.course:hover {
	transform: translateY(-20px);
	cursor: default;
}
/* .coures-img:hover {
	box-shadow: 0px 14px 74px rgba(0, 0, 0, 0.09);
}
.course-body:hover {
	box-shadow: 0px 14px 74px rgba(0, 0, 0, 0.09);
} */
.coures-img {
	width: 100%;
	border-radius: 22px 22px 0px 0px;
	box-shadow: 0px 3px 50px rgba(0, 0, 0, 0.09);
}
.course-body {
	width: 100%;
	padding-left: 30px;
	padding-right: 58px;
	border-radius: 0px 0px 22px 22px;
	box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.09);
}

.course-title {
	padding-top: 38px;
	color: var(--text-black);
	font-weight: 700;
	font-size: 1.5rem;
}
.course:hover .course-title {
	color: var(--primary);
}
.course-text {
	margin-top: 20px;
	line-height: 1.5rem;
	font-size: 1.125rem;
}
.pricing {
	padding-bottom: 76px;
}
.price {
	font-size: 28px;
	color: var(--text-black);
}
.course-enroll {
	margin-top: 80px;
}

.actual-price {
	color: #d9d9d9;
	font-size: 18px;
	text-decoration: line-through;
	margin: 0;
}
@media screen and (max-width: 992px) {
	.container {
		width: 95%;
	}
	.hero {
		height: 1200px;
	}
	.enroll-form {
		width: 100% !important;
		box-shadow: 0px 6px 34px rgba(0, 0, 0, 0.12);
	}

	/* Dialog/Modal */
	.success {
		left: 15%;
	}
}

@media screen and (max-width: 768px) {
	.package-section .container {
		width: 100%;
		padding: 0;
	}
	.tagline {
		font-size: 2.125rem;
	}
	.enroll-form {
		padding: 48px 20px;
		border-radius: 22px;
	}
	.enroll-form h4 {
		color: var(--text-primary);
	}
	.interval h1 {
		font-size: 1.5rem;
	}
	.interval h5 {
		font-size: 11px;
		line-height: 13px;
	}
	.package {
		border-radius: 0;
		padding: 60px 30px;
	}
	input,
	select {
		border-radius: 10px !important;
	}
	/* Dialog/Modal */
	.success {
		left: 15%;
		width: 70%;
		/* max-width: 450px; */
	}
	.success img {
		width: 30%;
	}
	.success h4 {
		font-size: 20px;
	}
	.success p {
		font-size: 12px;
		line-height: 14px;
		padding: 14px 50px 34px;
	}
	.success form {
		padding-bottom: 56px;
	}
}

@media screen and (max-width: 478px) {
	.icon-text img {
		width: 26px;
	}
	.skills-text {
		font-size: 14px;
	}
	.hero {
		height: 1250px;
	}
}
